body {
  background-color: black;
  color: white;
  font-size: 10px;
  font-family: sans-serif;
}
.landing {
  background: url("https://s27389.pcdn.co/wp-content/uploads/2020/05/network-security-in-world-of-encryption.jpeg") center center fixed;
  background-size: cover;
  padding: 50% auto 10%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.landing h1 {
  font-size: 5rem;
}
.landing h2 {
  font-size: 4rem
}
